# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.BattleShip.iml
# Datasource local storage ignored files
/../../../../../../../../:\Github\gp20-2021-0527-battleships-Alex-Rynkowski\BattleShip\BattleShip\.idea\.idea.BattleShip\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
